<h2>Listado de Hoteles</h2>
<button routerLink="/hoteles/crear">Crear Nuevo Hotel</button>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Dirección</th>
        <th>Ciudad</th>
        <th>País</th>
        <th>Estrellas</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let hotel of hoteles">
        <td>{{ hotel.id }}</td>
        <td>{{ hotel.nombre }}</td>
        <td>{{ hotel.direccion }}</td>
        <td>{{ hotel.ciudad }}</td>
        <td>{{ hotel.pais }}</td>
        <td>{{ hotel.estrellas }}</td>
        <td>
            <button routerLink="/hoteles/{{ hotel.id }}">Ver</button>
            <button routerLink="/hoteles/editar/{{ hotel.id }}">Editar</button>
            <!--<button (click)="onDelete(hotel.id)">Eliminar</button>-->
        </td>
    </tr>
    </tbody>
</table>
